/* ================= Header Area ================= */

.header-area {
    box-shadow: 0px 0px 20px 1px #d5d5d5;
}

.header-area .profile-area {
    position: relative;
    z-index: 1;
}

.header-area .profile-area::before {
    position: absolute;
    content: '';
    background: #e6e8f0;
    width: 180px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.table-content-area .table-content-top select {
    border: 0;
    background: transparent;
    font-weight: bold;
    color: #8493a8;
}

/* Table Slider */

.table-slider-init .single-table {
    text-align: center;
    background: #f5f6f8;
}

.table-title {
    text-align: center;
    background: #ebeef1;
    padding: 15px;
    margin-bottom: 0;
}

.table-slider-init .single-table th,
.table-slider-init .single-table td {
    padding: 10px;
    width: 100%;
}

.table-slider-init .single-table tr:not(:last-child) {
    border-bottom: 1px solid #e1e5ea;
}

.table-slider-init .single-table tr td:not(:last-child),
.table-slider-init .single-table tr th:not(:last-child) {
    border-right: 1px solid #e1e5ea;
}

.table-slider-init .slick-slide.slick-current {
    opacity: 0.4;
}